# Python virtual environment
multiword_anagram_fast/.venv/
multiword_anagram_fast/venv/

# Python cache files
multiword_anagram_fast/__pycache__/
multiword_anagram_fast/*.pyc
multiword_anagram_fast/*.pyo
multiword_anagram_fast/*.pyd

target/
Cargo.lock

# uv-specific files
multiword_anagram_fast/.python-version
multiword_anagram_fast/uv.lock

# jupyter notebooks
multiword_anagram_fast/.ipynb_checkpoints/
*.ipynb
.ipynb_checkpoints/
uv.lock
solutions*.txt
anagram_*.txt

# maturin build stuff
multiword_anagram_fast_core/target/
multiword_anagram_fast_core/Cargo.lock
multiword_anagram_fast_core/target/
multiword_anagram_fast_core/Cargo.lock
#venv
venv/

# Other common ignores
*.log
*.egg-info/
.DS_Store
